<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./mercari.css" th:href="@{/css/mercari.css}" />
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:src="@{/js/jquery.tgHierSelectV2.js}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
$(function(){
	//JSONデータへのパス
	var parentPath = "http://localhost:8080/merukari/categoryList/getParentCategory";  //httpから始まるURL型式でもOKです。
 
    //JSONデータを取得し、配列に格納する
    $.getJSON(parentPath, function(data){
		var parentList = new Map();
		$.each(data, function(key,val){
			parentList.set(key,val);
		});
		console.log(parentList);

	//取得したJSONデータをコンソールに表示する
		parentList.forEach(function(value, key){
			for(var i = 0 ; i <= value.length-1 ; i++){
				var parentType = {value: key, text: value[i], selected:false}
				var parentCategory = $('<option>', parentType);
				$('#parent').append(parentCategory);
			}
		});
    	
	
		$('#parent').change(function(){
			var parentVal = $('#parent').val();
			console.log(parentVal);
			$('#child').children().remove();
			var childPathByParent = "http://localhost:8080/merukari/categoryList/getChildCategoryByParent";
			$.getJSON(childPathByParent, function(data){
				var childListByParent = new Map();
				$.each(data, function(key,val){
					childListByParent.set(key,val);
				});
			
				var childPathById = "http://localhost:8080/merukari/categoryList/getChildCategoryById";
				$.getJSON(childPathById, function(data){
					var childListById = new Map();
					$.each(data, function(key,val){
						childListById.set(key,val);
					});
				
					console.log(childListById);
					
					
					childListByParent.forEach(function(valueByParent, keyByParent){
						if(parentVal == keyByParent){
 							childListById.forEach(function(valueById,keyById){ 
								for(var i = 0 ; i <= valueByParent.length-1 ; i++){
	 								if(valueByParent[i] == valueById){
										var childType = {value : [keyById], text: valueByParent[i],selevted:false}
										var childCategory = $('<option>',childType);
										$('#child').append(childCategory);
										console.log(childType);
									}
 								} 
 							}) 
						}
					})
				});
			})
		});
	});
});
</script>
  <title>Rakus Items</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./list.html">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="logout" href="./login.html">Logout <i class="fa fa-power-off"></i></a></li>
        </ul>
        <p class="navbar-text navbar-right">
          <span id="loginName">user: userName</span>
        </p>
      </div>
    </div>
  </nav>
  <input type="button" id="btn1" value="ボタン">
  <div id="main" class="container-fluid">
    <!-- addItem link -->
    <div id="addItemButton">
      <a class="btn btn-default" href="./add.html"><i class="fa fa-plus-square-o"></i> Add New Item</a>
    </div>

    <!-- 検索フォーム -->
    <div id="forms">
      <form action="" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="item name"/>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <select id="parent" class="form-control">
            <option>- parentCategory -</option>
          </select>
          <select id="child" class="form-control">
            <option>- childCategory -</option>
          </select>
          <select class="form-control">
            <option>- grandChild -</option>
          </select>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="brand"/>
        </div>
        <div class="form-group"></div>
        <button type="submit" class="btn btn-default"><i class="fa fa-angle-double-right"></i> search</button>
      </form>
    </div>

    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li class="previous"><a th:unless="${page==1}" href="#" th:href="@{/item/pagination(page=${page}-1)}">&larr; prev</a></li>
          <li class="next"><a th:unless="${page==pageMax}" href="#" th:href="@{/item/pagination(page=${page}+1)}">next &rarr;</a></li>
        </ul>
      </nav>
    </div>

    <!-- table -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>brand</th>
            <th>cond</th>
          </tr>
        </thead>
        <tbody th:each="item:${itemList}">
          <tr>
            <td class="item-name"><a href="./detail.html" th:text="${item.name}">Razer BlackWidow Chroma Keyboard</a></td>
            <td class="item-price" th:text="${item.price}">52.0</td>
            <td class="item-category" th:text="${item.category}"><a href="">Electronics</a> / <a href="">Computers &amp; Tablets</a> / <a href="">Components &amp; Parts</a></td>
            <td class="item-brand" th:text="${item.brand}"><a href="">Razer</a></td>
            <td class="item-condition" th:text="${item.condition}">3</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li class="previous"><a th:unless="${page==1}" href="#" th:href="@{/item/pagination(page=${page}-1)}">&larr; prev</a></li>
          <li class="next"><a th:unless="${page==pageMax}" href="#" th:href="@{/item/pagination(page=${page}+1)}">next &rarr;</a></li>
        </ul>
      </nav>
      <!-- ページ番号を指定して表示するフォーム -->
      <div id="select-page">
        <form class="form-inline" th:action="@{/item/pagination}">
          <div class="form-group" th:object="${paginationForm}">
            <div class="error">
            	<label th:errors="*{page}"></label>
            </div>
            <div class="input-group col-xs-6">
              <input type="text" name="page" class="form-control" th:field="*{page}"/>
              <!-- 総ページ数 -->
              <div class="input-group-addon">/ <span th:text="${session.itemRecord}">20</span></div>
            </div>
            <div class="input-group col-xs-1">
              <button type="submit" class="btn btn-default">Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>